node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env.example
.DS_Store
coverage
.nyc_output
.idea
.vscode
*.log
*.swp
*.swo
*~
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
.yarn-integrity